---
import Layout from "../../layouts/Layout.astro";

const allPosts = Object.values(
  import.meta.glob("../posts/*.md", { eager: true })
);
---

<Layout>
  <body>
    <section class="section hero-blog">
      <div class="w-layout-blockcontainer main-container w-container">
        <div class="headline-blog">
          <div class="label">Assistive Listening News</div>
          <h1 class="text-h1">News &amp; Articles</h1>
        </div>
        <div class="related-block w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <a
                href={allPosts[0].url}
                class="article-tile pinned w-inline-block"
              >
                <div class="image-wrap-blog pinned">
                  <img
                    alt=""
                    loading="lazy"
                    src={allPosts[0].frontmatter.image.url}
                    }
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, 54vw"
                    class="image-cover"
                  />
                </div>
                <div class="article-info-wrap">
                  <div class="article-category-wrap">
                    <div class="text-small opacity-50">·</div>
                    <div class="text-small">
                      {allPosts[0].frontmatter.alt}
                    </div>
                  </div>
                  <div class="text-h3">
                    {allPosts[0].frontmatter.description}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="w-layout-blockcontainer main-container w-container">
        <div class="section-divider blog-divider"></div>
        <div class="headline-related">
          <div class="text-h3">Latest articles</div>
        </div>
        <div class="related-block w-dyn-list">
          <div role="list" class="blog-thirds w-dyn-items">
            {
              allPosts.map((post: any) => (
                <div role="listitem" class="w-dyn-item">
                  <a href={post.url} class="article-tile w-inline-block">
                    <div class="image-wrap-blog">
                      <img
                        alt=""
                        loading="lazy"
                        src={post.frontmatter.image.url}
                        sizes="(max-width: 479px) 100vw, (max-width: 767px) 44vw, (max-width: 991px) 46vw, 30vw"
                        class={post.frontmatter.image.alt}
                      />
                    </div>
                    <div class="article-info-wrap">
                      <div class="article-category-wrap">
                        <div class="text-small">{post.frontmatter.alt}</div>
                        <div class="text-small opacity-50">·</div>
                        <div class="text-small">{post.frontmatter.pubDate}</div>
                      </div>
                      <div class="text-h5">{post.frontmatter.description}</div>
                    </div>
                  </a>
                </div>
              ))
            }
          </div>
          <div
            role="navigation"
            aria-label="List"
            class="w-pagination-wrapper pagination blog-pagination"
          >
            <a
              href="blog@33f22ee7_page=2.html"
              aria-label="Next Page"
              class="w-pagination-next pagination-button-article"
            >
              <div class="text-h3 w-inline-block">Next</div>
            </a>
            <link rel="prerender" href="blog@33f22ee7_page=2.html" />
          </div>
        </div>
      </div>
    </section>
    <section class="section cta-section">
      <div class="cta-video">
        <div class="w-layout-blockcontainer main-container w-container">
          <div class="cta-master">
            <div class="cta-top-tile">
              <div class="label">terra–tory™</div>
              <div class="heading-cta">
                <div class="text-h1">Uncover your website's potential</div>
              </div>
            </div>
            <div class="cta-button-wrap">
              <a
                href="https://webflow.com/templates/designers/byq-studio"
                target="_blank"
                class="cta-main accent w-inline-block"
              >
                <div class="button-animation-hide">
                  <div class="button-animation-wrap">
                    <div class="button-content-tile">
                      <div>Buy Template</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="button-content-tile bottom-tile">
                      <div>Buy Template</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a><a
                href="contact/contact-a.html"
                class="cta-booking w-inline-block"
              >
                <div class="cta-image-wrap">
                  <img
                    src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67337f627413b847e2064f0f_Button%20Image.webp"
                    loading="lazy"
                    alt=""
                    class="image-cover"
                  />
                </div>
                <div class="text-body semibold">Book an intro call</div>
              </a>
            </div>
          </div>
        </div>
        <div
          data-w-id="6d31e448-0cad-78cf-9898-37953bfbda47"
          class="cta-circle-regular"
        >
        </div>
        <div
          data-w-id="5705fcc2-f633-58e3-1c4e-f911fd308ab2"
          class="cta-circle-big"
        >
        </div>
        <div
          data-w-id="6fae3469-06b3-95c8-5c38-abda8ce051ed"
          class="cta-circle-small"
        >
        </div>
      </div>
    </section>
  </body>
</Layout>
