---
const { technology } = Astro.props;
const allPosts = Object.values(
  import.meta.glob("../pages/posts/*.md", { eager: true })
).filter((post) => {
  const isScheduled = new Date(post.frontmatter.pubDate).getTime() > Date.now();
  const isInfrared = post.frontmatter.alt === technology;
  return !isScheduled && isInfrared;
});
---

<section class="section home-b-cases-section">
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="headline-cases-home-b">
      <div class="limit-640">
        <h3 class="text-h1">Infrared News</h3>
      </div>
    </div>
    <div class="w-layout-grid case-halves-home-b">
      <a
        id="w-node-d3fc33a7-4793-5f6e-7bc4-31a4856e0ae8-e2064dc4"
        data-w-id="d3fc33a7-4793-5f6e-7bc4-31a4856e0ae8"
        href={allPosts[0]?.url}
        class="case-card-home-b long w-inline-block"
      >
        <div class="case-card-image">
          <img
            src={allPosts[0]?.frontmatter.image.url}
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 81vw, (max-width: 991px) 85vw, 89vw"
            alt={allPosts[0]?.frontmatter.alt}
            class="image-cover"
          />
        </div>
        <div class="case-home-b-bottom-tile">
          <h3 class="no-margins">
            {allPosts[0]?.frontmatter.title}
          </h3>
          <div class="cta-main light">
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>Find Out More</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>Read case study</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a><a
        href={allPosts[1]?.url}
        class="case-card-home-b accent w-inline-block"
      >
        <div class="case-home-b-bottom-tile">
          <h4 class="no-margins">
            {allPosts[1]?.frontmatter.title}
          </h4>
        </div>
        <div class="cta-main light">
          <div class="button-animation-hide">
            <div class="button-animation-wrap">
              <div class="button-content-tile">
                <div>Read case study</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="button-content-tile">
                <div>Read case study</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a><a href={allPosts[2]?.url} class="case-card-home-b w-inline-block">
        <div class="case-home-b-bottom-tile">
          <h4 class="no-margins">
            {allPosts[2]?.frontmatter.title}
          </h4>
        </div>
        <div class="cta-main light">
          <div class="button-animation-hide">
            <div class="button-animation-wrap">
              <div class="button-content-tile">
                <div>Read case study</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="button-content-tile">
                <div>Read case study</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a><a
        id="w-node-_5c284b14-56eb-3474-fd51-3c6faf670198-e2064dc4"
        href={allPosts[3]?.url}
        class="case-card-home-b w-inline-block"
      >
        <div class="case-home-b-bottom-tile">
          <h4 class="no-margins">
            {allPosts[3]?.frontmatter.title}
          </h4>
        </div>
        <div class="cta-main light">
          <div class="button-animation-hide">
            <div class="button-animation-wrap">
              <div class="button-content-tile">
                <div>Read case study</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="button-content-tile">
                <div>Read case study</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
