---
import MainNews from "../components/MainNews.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<title>
  {frontmatter.title}
</title>
<Layout>
  <meta charset="utf-8" />

  <section class="section hero-article">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid article-hero-halves">
        <div class="article-heading-wrap">
          <div class="article-top-tile">
            <div class="article-category-wrap">
              <div class="text-small semibold">{frontmatter.alt}</div>
              <div class="text-small opacity-50">·</div>
              <div class="text-small">
                {frontmatter.pubDate.toISOString().split("T")[0]}
              </div>
            </div>
            <div class="article-title-wrap">
              <h1 class="text-h1">
                {frontmatter.title}
              </h1>
              <h3 class="text-h4 light-accent">
                {frontmatter.description}
              </h3>
            </div>
          </div><a href="#Article" class="article-down-button w-inline-block">
            <div class="icon-down-arrow w-embed">
              <svg
                width="22"
                height="21"
                viewBox="0 0 22 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11 0.666992L11 19.3337"
                  stroke="currentColor"
                  stroke-width="2"></path>
                <path
                  d="M20.334 10L11.0007 19.3333L1.66732 10"
                  stroke="currentColor"
                  stroke-width="2"></path>
              </svg>
            </div>
          </a>
        </div><img
          src={frontmatter.image.url}
          loading="lazy"
          id="w-node-_16eb1e1e-3eb9-d81a-e596-2ff6728d587f-e2064d69"
          alt=""
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, 94vw"
          class="article-big-thumbnail"
        />
      </div>
    </div>
  </section>
  <section class="section body-article">
    <div class="w-layout-blockcontainer main-container w-container">
      <div
        data-w-id="aa46aa4f-a776-788c-4b98-c2b87dd9e11b"
        class="section-divider article-divider"
      >
      </div>
      <div
        class="w-layout-blockcontainer main-container article-container w-container"
      >
        <div class="article-body-wrap">
          <div id="Article" class="post-body w-richtext">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section body-article">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="spacer-lg"></div>
      <div class="section-divider home-c-numbers"></div>
    </div>
  </section>

  <MainNews limit={3} />
</Layout>

<style>
  .article-title-wrap {
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
